<div>
    <main>
        <h1>{{name}}</h1>
        <div>
            {{#each users}}
            <hr>
            <div>{{id}}</div>
            <h2>{{name}}</h2>
            <div>gender: {{gender}}</div>
            <div>age: {{age}}</div>
            <br>
            <div>
                <h4>friends:</h4>
                {{#each friends}}<br>
                <div>id: {{id}}</div>
                <h5>{{name}}</h5>
                <div>gender: {{gender}}</div>
                <div>age: {{age}}</div>
                <div>
                    {{#if mutual_friends}}<b>mutual friends:</b>
                    {{#each mutual_friends}}<br>
                    <div>id: {{id}}</div>
                    <div>name: {{name}}</div>
                    <div>gender: {{gender}}</div>
                    <div>age: {{age}}</div>
                    <br>
                    {{#each mutual_friends}}<br>
                    <div>id: {{id}}</div>
                    <div>name: {{name}}</div>
                    <div>gender: {{gender}}</div>
                    <div>age: {{age}}</div>
                    {{/each}}
                    {{/each}}
                    <br>
                    <h4>groups:</h4>
                    {{#each groups}}
                    <div>id: {{id}}</div>
                    <div>name: <b>{{name}}</b></div>
                    <div>description: ({{description}})</div>
                    <div>
                        <b>members:</b>
                        {{#each members}}
                        <div>id: {{id}}</div>
                        <div>name: {{name}}</div>
                        <div>gender: {{gender}}</div>
                        <div>age: {{age}}</div>
                        <br>
                        {{/each}}
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <br>
            <div>
                <h4>groups:</h4>
                <div>{{#if groups}}
                    {{#each groups}}
                    <div>id: {{id}}</div>
                    <div>name: <b>{{name}}</b></div>
                    <div>description: ({{description}})</div>
                    <div>
                        <b>members:</b>
                        {{#each members}}
                        <div>id: {{id}}</div>
                        <div>name: {{name}}</div>
                        <div>gender: {{gender}}</div>
                        <div>age: {{age}}</div>
                        <br>
                        {{/each}}
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </main>
</div>