<main class="p-5">
    <h1>{{name}}</h1>
    <div>
        {{#each users}}
        <hr>
        <div>{{id}}</div>
        <h2>{{name}}</h2>
        <div class="my-2">gender: {{gender}}</div>
        <div>age: {{age}}</div>
        <div class="mt-3">
            <h4>friends:</h4>
            {{#each friends}}<br>
            <div class="my-2">id: {{id}}</div>
            <h5 class="mt-2 ms-2">{{name}}</h5>
            <div>gender: {{gender}}</div>
            <div class="my-2">age: {{age}}</div>
            <div class="ms-3">
                <b>mutual friends:</b>
                {{#each mutual_friends}}<br>
                <div class="my-2">id: {{id}}</div>
                <div>name: {{name}}</div>
                <div class="my-2">gender: {{gender}}</div>
                <div>age: {{age}}</div>
                {{#each mutual_friends}}<br>
                <div class="my-2">id: {{id}}</div>
                <div>name: {{name}}</div>
                <div class="my-2">gender: {{gender}}</div>
                <div>age: {{age}}</div>
                {{/each}}
                {{/each}}

                {{#if groups}}
                <h4 class="my-2 ms-3">groups:</h4>
                {{#each groups}}
                <div class="my-2">id: {{id}}</div>
                <div class="my-2">name: <b>{{name}}</b></div>
                <div>description: ({{description}})</div>
                <div class="ms-2">
                    <b>members:</b>
                    {{#each members}}
                    <div>id: {{id}}</div>
                    <div>name: {{name}}</div>
                    <div>gender: {{gender}}</div>
                    <div>age: {{age}}</div>
                    {{/each}}
                </div>
                {{/each}}
                {{/if}}

            </div>
            {{/each}}
        </div>
        <br>
        <div>{{#if groups}}
            <h4>groups:</h4>

            {{#each groups}}
            <div>id: {{id}}</div>
            <div>name: <b>{{name}}</b></div>
            <div>description: ({{description}})</div>
            <div>
                <b>members:</b>
                {{#each members}}
                <div>id: {{id}}</div>
                <div>name: {{name}}</div>
                <div>gender: {{gender}}</div>
                <div>age: {{age}}</div>
                <br>
                {{/each}}
            </div>
            {{/each}}
            {{/if}}
        </div>
        {{/each}}
    </div>
</main>