<main class="p-3">
    {{> title data="Js" big=true}}
    <hr>
    <div>{{name}}</div>
    <p class="my-3">({{description}})</p>
    <div class="mt-4">
        {{#each history}}
        <div class="my-2">{{this}}</div>
        {{/each}}
    </div>
    <ul class="mt-4"><b>types:</b>
        {{#each types}}
        <li class="my-2">{{this}}</li>
        {{/each}}
    </ul>
    <b class="mt-3 ms-4">syntax:</b>
    <div class="mt-3">
        {{#with syntax}}
        <div class="">
            <div class="dropdown mt-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    variables
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">var</a></li>
                    <li><a class="dropdown-item" href="#">let</a></li>
                    <li><a class="dropdown-item" href="#">const</a></li>
                </ul>
            </div>
            <div class="dropdown my-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    functions
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">function</a></li>
                </ul>
            </div>
            <div class="dropdown my-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    conditionals
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">if</a></li>
                    <li><a class="dropdown-item" href="#">else</a></li>
                    <li><a class="dropdown-item" href="#">switch</a></li>
                </ul>
            </div>
            <div class="dropdown my-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    loops
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">for</a></li>
                    <li><a class="dropdown-item" href="#">while</a></li>
                    <li><a class="dropdown-item" href="#">do-while</a></li>
                </ul>
            </div>
            <div class="dropdown mb-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    classes
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">class</a></li>
                </ul>
            </div>
        </div>
        {{/with}}
    </div>
    <ul class="mt-5"><b>features:</b>
        {{#each features}}
        <li class="my-2">{{this}}</li>
        {{/each}}
    </ul>
    <ul class="mt-5"><b>libraries:</b>
        {{#each libraries}}
        <li class="my-2">{{this}}</li>
        {{/each}}
    </ul>
    <ul class="mt-5"><b>tools:</b>
        {{#each tools}}
        <li class="my-2">{{this}}</li>
        {{/each}}
    </ul>
    <b class="ms-4">community:</b>
    <div class="my-3">
        {{#each community}}
        <h6 class="my-2 ms-3">{{name}}</h6>
        <div class="mt-1">{{type}}</div>
        {{/each}}
    </div>
</main>