{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main class="p-5">
    {{#with main}}
    <section>
        {{> title data="Work history" big=true}}
        <div>
            <ul>
                {{#each works}}
                <li>
                    <div class="my-2">{{position}}</div>
                    <div>
                        {{duration.from}} -
                        {{#if duration.to}}
                        {{duration.to}}
                        {{else}}
                        (досі працюємо)
                        {{/if}}
                    </div>
                    <div class="mt-4">
                        {{> link text=company.name href=company.url blank=true noLine=true}}

                    </div>
                    <div class="my-3">
                        <strong>
                            Projects ({{projectAmount}})
                        </strong>
                    </div>
                    <div>
                        <ul>
                            {{#each projects}}
                            <li>
                                {{#if url}}
                                <div class="my-3">{{> link text=name href=url blank=true noLine=true}}</div>
                                {{else}}
                                <b>{{name}}</b>
                                {{/if}}
                                <div>
                                    <p>{{about}}</p>
                                </div>
                                <div class="my-3">
                                    <em>Projects stacks ({{stackAmoGnt}})</em>
                                </div>
                                <div>
                                    <ul>
                                        {{#each stacks}}
                                        <li>{{name}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="my-3">
                                    <em>Projects awards</em>
                                </div>
                                <ul>
                                    {{#each awards}}
                                    <li class="my-2">{{name}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
    {{/with}}
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}